/* .App {
  text-align: center;
}
 */
.App-logo {
  width: 192px;
  height: 64px;
  left: 80px;
  top: 48px;
}

.App-header {
  background: linear-gradient(0deg, rgba(26, 48, 55, 0.2),rgba(26, 48, 55, 0.2)), url(../../assets/images/test_house.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  background-color: transparent !important;
  height: 807px;
  left: 0px;
  top: 0px;
  border-radius: 0px;

}

.App-header .navbar {
  background-color: transparent !important;
}

.navbar-light .navbar-toggler-icon{
  background-image: url(../../assets/images/Menu_toogle.png)!important;
  width: 32px!important;
  height: 12px!important;
  }

/* TODO delete */
.App-link {
  color: #61dafb;
}

/* .MenuHeader{
  font-size: 13px;
  color: #F1F3F5;
} */

.TextHeader{
  height: 807px;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  color: #FCFDFD;
}

.interactive-sect{
  background: linear-gradient(291deg, rgba(15,32,39,1) -0.36%,rgba(32,58,67,1) 49.82%,rgba(44,83,100,1) 100%);
  background-size: cover;
  background-color: transparent !important;
  height: 900px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.TextInteractiveOne{
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 100%;
  color: #FCFDFD;
}

.TextInteractiveTwo{
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #FCFDFD;
}

.IconImageIntereactive{
  width: 24px;
  height: 24px;
}

.SpacingIconInteractive{
  height: 41px;
}

/* .container{
  width: 100% !important;
  margin-right: 77px !important;
  margin-left: 77px !important;
} */