.section3 {
    left: 0px;
    right: 0px;
    top: 1570px;

    /* Secondary */

    background: #54564E;

}

.section3 h1 {
    text-align: center!important;
    /*width: 601px;*/
    height: 83px;
    left: 432px;
    top: 80px;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: bold;
    /*font-size: 72px;*/
    line-height: 114.9%;
    color: #F1F3F5;
}

.section3 h2 {
    text-align: center!important;
    /*width: 1021px;*/
    height: 58px;
    left: 222px;
    top: 221px;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160.1%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #F1F3F5;
}


.status {
    width: 121px !important;
    height: 28px !important;
    left: 397px !important;
    top: 431px !important;
    font-weight: 700 !important;
    text-align: center !important;
    color: #333 !important;
    transform: rotate(90deg) !important;
}