.TypeHouse {
    text-align: center;
    position: absolute;
    height: 1130px;
    left: 0px;
    right: 0px;
    top: 1570px;
    background: #54564E;
}


/* Más que un hogar */

.TypeHouse p {
    position: absolute;
    width: 601px;
    height: 83px;
    left: 432px;
    top: 80px;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 114.9%;
    /* identical to box height, or 83px */
    /* White */
    color: #F1F3F5;
}

.secTypeHouse {
    position: absolute;
    width: 392px;
    height: 646px;
    left: 539px;
    top: 354px;
}

.imgHouse {
    position: absolute;
    width: 355px;
    height: 529px;
    left: 541px;
    top: 377px;
}

#containerTypeHouse {
    width: 960px;
    position: relative;
    margin: 0 auto;
    line-height: 1.4em;
}

@media only screen and (max-width: 479px) {
    #containerTypeHouse {
        width: 90%;
    }
}

#divPadre {
    height: 100px;
    width: 800px;
    text-align: center;
    background-color: blue;
}

#divHijo {
    height: 50px;
    width: 400px;
    margin: 0px auto;
    background-color: red;
}

.boxes div {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.boxes div:focus {
    outline: none;
    color: #fff;
    background: firebrick;
}

@media screen and (min-width: 600px) {
    .boxes div {
        float: right;
        width: 25%;
    }
}